*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    height: 4000px;
}

.container{
    width: 92%;
    margin: auto;
    height: 100%;
    border: 2px solid red;
}

a{
    text-decoration: none;
    color: #0D0E43;
}

ul{
    list-style-type: none;
}

/* Header */

.header{
    background-color: #ffffff;
    color: #0D0E43;
    width: 100%;
}

.navigation{
    padding: 40px 0;
    background-color: #ffffff;

}

.navigation ul {
    background-color: #ffffff;
    display: flex;
    gap: 36px;
}

.navigation ul a:hover{
    color: #FB2E86;
    transition: 0.5s;
}

.header input{
    font-size: 24px;
    width: 266px;
    border: 0;
    padding: 0 10px;
}

.header button{
    border: 0;
    padding: 8px 14px;
    background-color: #FB2E86;
}

.header form{
    border-right: none;
    border: 2px solid #E7E6EF;
    display: flex;
}

.icon-size{
    font-size: 24px;
}

.home-nav{
    color: #FB2E86;
}

/* Resposive Header */

.header .menu-btn{
    display: none;
}

/* Phones */

@media screen and (min-width:320px) and (max-width:600px) {
    .header .menu-btn{
        display: block;
        margin: 0 20px;
    }

    .header ul {
        display: none;
    }

    .header .logo{
        margin-right: 5px;
    }

    .header input{
        width: 100px;
    }
}

/* Tablets */

@media screen and (min-width:601px) and (max-width:1024px) {

    .header .menu-btn{
        display: block;
        margin-right: 20px;
    }

    .header ul {
        display: none;
    }
}

/* Labtops */

@media screen and (min-width:1025px){
}