*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    height: 4000px;
}

.container{
    width: 92%;
    margin: auto;
    height: 100%;
    border: 2px solid red;
}

a{
    text-decoration: none;
    color: #0D0E43;
}

ul{
    list-style-type: none;
}

/* Header */

.header{
    background-color: #ffffff;
    color: #0D0E43;
    width: 100%;
    z-index: 100;
}

.navigation{
    padding: 25px 0;
    background-color: #ffffff;

}

.navigation ul {
    background-color: #ffffff;
    display: flex;
    gap: 36px;
}

.navigation ul a:hover{
    color: #FB2E86;
    transition: 0.5s;
}

.header input{
    font-size: 24px;
    width: 266px;
    border: 0;
    padding: 0 10px;
}

.header button{
    border: 0;
    padding: 8px 14px;
    background-color: #FB2E86;
}

.header form{
    border-right: none;
    border: 2px solid #E7E6EF;
    display: flex;
}

.icon-size{
    font-size: 24px;
}

.home-nav{
    color: #FB2E86;
}

/* Resposive Header */

.header .menu-btn{
    display: none;
}

/* Phones */

@media screen and (min-width:320px) and (max-width:600px) {
    .header .menu-btn{
        display: block;
        margin: 0 20px;
    }

    .header ul {
        display: none;
    }

    .header .logo{
        margin-right: 5px;
    }

    .header input{
        width: 100px;
    }
}

/* Tablets */

@media screen and (min-width:601px) and (max-width:1024px) {

    .header .menu-btn{
        display: block;
        margin-right: 20px;
    }

    .header ul {
        display: none;
    }
}

/* Labtops */

@media screen and (min-width:1025px){
}

/* End Of The Header */

/* Footer */

.footer{
    width: 100%;
    background-color: #EEEFFB;
    padding: 50px 0;
    margin-top: 100px;
    height: fit-content;
}

.footer a{
    color: #8A8FB9;
}

.gap-margin-t-footer-nav{
    gap: 24px;
}

.sections-header{
    font-size: 22px;
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 22px;
}


/* Contact info Section */

.contact-info{
}

.contact-info .footer-logo{
    font-size: 34px;
    margin-bottom: 34px;
}

.footer input{
    width: 238px;
    border: 0;
    padding: 0 10px;
    background-color: #ffffff;
}
.footer input::placeholder{
    color: #8A8FB9;
}

.footer button{
    width: 135px;
    height: 42px;
    border: 0;
    padding: 8px 20px;
    background-color: #FB2E86;
    color: #EEEFFB;
    font-size: 16px;
}

.footer form{
    border-right: none;
    border: 2px solid #E7E6EF;
    height: 44px;
    width: 320px;
}

.contact-info .contact{
    margin-top: 28px;
    margin-bottom: 11px;
    color: #8A8FB9;
}

.contact-info p{
    color: #8A8FB9;
}


/* Responsive Footer */

/* Phones */

@media screen and (min-width:320px) and (max-width:600px) {

.footer-content-container{
    display: flex;
    flex-direction: column;
}

.footer-content-container form{
    border-right: none;
    border: 2px solid #E7E6EF;
    height: 44px;
    width: 290px;
}

.sections-header{
    margin: 20px 0;
}

}

/* Tablets */

@media screen and (min-width:601px) and (max-width:1024px) {

.footer-content-container{
    display: flex;
    flex-direction: column;
}

.sections-header{
    margin: 20px 0;
}

}

/* Desktop labtops */
@media screen and (min-width:1025px) and (max-width:1440px) {
    .footer-content-container{
        gap: 10px;
    }
}

/* End of The Footer */

/* Featuerd Products Section */

.featured-products{
    padding: 60px 0;
    background-color: #ffffff;
}

.featured-products-content{
    padding: 60px 0;
}

.featured-products-header{
    margin-bottom: 48px;
    font-size: 42px;
    font-weight: 700;
    color: #1A0B5B;
}

.header-font{
    font-family: "Josefin Sans", sans-serif;
}

.product{
    width: calc(100%/4);
    min-width: 270px;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.product .product-img{
    background-color: #F6F7FB;
    width: 100%;
    height: auto;
    padding: 15px;
}

.product .product-img img{
    margin-top: 46px;
    width: 178px;
    height: 178px;
}

.product .product-info h2{
    padding: 15px;
    color: #FB2E86;
    font-size: 18px;
}

.product .product-info .code{
    color: #151875;
}

.product .product-info .price{
    margin-top: 12px;
    color: #151875;
    padding-bottom: 20px;
}

.product:hover .product-info{
    background-color: #2F1AC4;
}

.product:hover .product-info h2 , .product:hover .product-info .code , .product:hover .product-info .price{
    color: #ffffff;
}

.featured-products-gap{
    gap: 30px;
}

.featured-products-btn{
    margin: 12px 0;
    padding: 2px 5px;
    border: none;
    border-radius: 80%;
}

.color-one{
    background-color: #05E6B7;
}

.color-two{
    background-color: #F701A8;
}

.color-three{
    background-color: #00009D;
}

.shop-icons{
    gap: 10px;
    visibility: hidden;
}

.product-img .product-btn button{
    font-family: "Josefin Sans", sans-serif;
    padding: 15px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background-color: #08D15F;
    font-size: 15px;
    line-height: 100%;
    margin: 10px;
    visibility: hidden;
    transition: 0.1s ease;
}

.product:hover .product-img .product-btn button ,.product:hover .shop-icons{
    visibility: visible;
}


/* Responsive Featuerd Products Section */

/* Phones */

@media screen and (min-width:320px) and (max-width:600px) {

    .featured-products-resp{
        display: flex;
        flex-direction: column;
    }

}

/* Tablets */

@media screen and (min-width:601px) and (max-width:1024px) {

    .featured-products-resp{
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        align-items: center;
        justify-self: center;
    }
}

/* Desktop labtops */
@media screen and (min-width:1025px) and (max-width:1440px) {
    .featured-products-resp{
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        align-items: center;
        justify-self: center;
    }
}


/* Background-Section */
.bg-section{
    background-image: url("../img/backgrounds/bg-section.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 462px;
    margin-top: 125px;
}

.background-section-content{
    height: 462px;
}

.background-section-content .bg-section-p , .background-section-content .bg-section-p span{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.5%;
    line-height: 155%;
    color: #151875;
}

.background-section-content .bg-section-btn{
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    background-color: #FB2E86;
    width: 173px;
    height: 49px;
    border-radius: 2px;
    border: none;
    line-height: 100%;
    letter-spacing: 2%;
    font-size: 17px;
    font-weight: 400;
    margin-top: 28px;
}

/* Responisve Background-Section */

@media screen and (min-width:320px) and (max-width:600px) {
    .background-section-content .bg-section-p {
    margin-left: 50px;
}
}

/* Hero Section */

.hero{
    background-color: #F2F0FF;
    width: 100%;
}

.hero-content{
    height: fit-content;
}

.hero-content .hero-left-side h3{
    color: #FB2E86;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-left: 3px;
}

.hero-content .hero-left-side .hero-header h1{
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700 bold;
    font-size: 53px;
    line-height: 171%;
    letter-spacing: 1.5%;
    margin-left: 5px;
}

.hero-content .hero-left-side p{
    color: #8A8FB9;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-left: 3px;
}

.hero-btn{
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    background-color: #FB2E86;
    width: 173px;
    height: 49px;
    border-radius: 2px;
    border: none;
    line-height: 100%;
    letter-spacing: 2%;
    font-size: 17px;
    font-weight: 400;
    margin-top: 28px;
}


.hero-right-side img{
    height: auto;
}

/* Responisve Hero Section */

/* Phones */

@media screen and (min-width:320px) and (max-width:600px) {
    .hero-right-side img{
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
}

/* Tablets */

@media screen and (min-width:601px) and (max-width:1024px) {
    .hero-right-side img{
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
}

/* Labtops */

@media screen and (min-width:1025px) and (max-width:1440px) {
    .hero-right-side img{
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
}


/* Latest Products Section */

.latest-products-nav ul {
    gap: 60px;
}

.latest-products-h-n .latest-products-header h1{
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    padding: 20px;
}

.latest-products-nav ul li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #151875;
}

.latest-products-nav ul li .new-arrivel {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FB2E86;
}

.l-prod-card{
    flex-basis: calc(calc(100% - 80px) / 4);
}

.latest-products-cards{
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 20px;
}

.latest-products-cards .l-prod-card .l-prod-img{
    padding: 60px;
}

.latest-products-cards .l-prod-card .l-prod-img .latest-product-img img{ 
    height: 300px;
    width: 300px;
}

.l-prod-img{
    background-color: #F7F7F7;
}

.l-prod-img .sale-img{
    left: 18px;
    top: 55px;
    visibility: hidden;
}

.latest-products-icons{
    visibility: hidden;
}

.l-prod-card:hover .l-prod-img .latest-product-img img {
    border: 1px solid #000000;
}

.l-prod-card:hover .l-prod-img .sale-img , .l-prod-card:hover .latest-products-icons{
    visibility: visible;
}

.l-prod-card:hover .l-prod-img{
    background-color: #ffffff;
}

.latest-products-cards .l-prod-card .l-prod-info{
    padding-bottom: 15px;
    padding-top: 15px;
}

.latest-products-cards .l-prod-card .l-prod-info h3{
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: underline #EEEFFB 2px;
    text-underline-offset: 5px;
}

.latest-products-cards .l-prod-card .l-prod-info .new-price{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #151875;
}

.latest-products-cards .l-prod-card .l-prod-info .old-price{
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #FB2448;
    text-decoration: line-through;
}


/* Latest Products Responsive */

/* Phones */

@media screen and (min-width:320px) and (max-width:399px) {
.latest-products-nav ul {
    gap: 10px;
    justify-content: space-between;
}

.latest-products-cards .l-prod-card .l-prod-img .latest-product-img img{ 
    height: 170px;
    width: 170px;
}
}

@media screen and (min-width:400px) and (max-width:500px) {
.latest-products-nav ul {
    gap: 10px;
    justify-content: space-between;
}

.latest-products-cards .l-prod-card{
    justify-content: center;
    align-items: center;
}

.latest-products-cards .l-prod-card .l-prod-img .latest-product-img img{ 
    height: 250px;
    width: 250px;
}
}

/* Tablets */

@media screen and (min-width:601px) and (max-width:1024px) {

}

/* Labtops */

@media screen and (min-width:1025px) and (max-width:1440px) {
}

/* Shopex Offer Section */

.shopex-offer{
    padding-top: 60px;
}

.shopex-header h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    color: #151875;
    margin-top: 50px;
    margin-bottom: 50px;
}

.shopex-content{
    gap: 30px;
}

.shopex-content .shopex-card{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);

    padding: 35px;
    margin-bottom: 30px;
}


.shopex-content .shopex-card .shopex-info h3{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: #151875;
    padding: 20px;
}

.shopex-content .shopex-card .shopex-info p{
    font-weight: 700;
    font-size: 16px;
    line-height: 25.6px;
    color: #1A0B5B4D;
}

/* Trending-Products Section */

.trending-products{
    padding-top: 60px;
}

.trending-products .trending-products-header h1{
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.trending-products-card{
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    margin-bottom: 20px;
}

.trending-products-card .trending-products-img{
    background-color: #F5F6F8;
    padding: 40px;
}

.trending-products-card .trending-products-img img{
    width: 190px;
    height: 190px;
}

.tending-products-content{
    gap: 30px;
}

.trending-products-card .trending-products-info h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    color: #151875;
}

.trending-products-card .trending-products-info .prices .trending-new-price{
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #151875;
    line-height: 100%;
}

.trending-products-card .trending-products-info .prices .trending-old-price{
    font-size: 12px;
    font-weight: 400;
    color: #1518754D;
    line-height: 100%;
    text-decoration: line-through;
}

.trending-products-card .trending-products-info .prices{
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Latest Blog Section */

.latest-blog{
    padding-top: 60px;
}

.latest-blog-header h1{
    color: #151875;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.latest-blog-cards{
    gap: 50px;
    
}

.latest-blog-cards .latest-blog-card .latest-blog-img img{
    width: 370px;
    height: 255px;

    border-radius: 2%;
}

.latest-blog-cards .latest-blog-card{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    border-radius: 2%;
    margin-bottom: 20px;
}

.user-date{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.user-date .user i{
    color: #FB2E86;
}


.user-date .user h3{
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.user-date .date i{
    color: #FFA454;
}

.user-date .date h3{
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.latest-blog-card .latest-blog-info{
    padding: 15px;
}

.latest-blog-card .latest-blog-info h2{
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.latest-blog-card .latest-blog-info p{
    color: #72718F;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.latest-blog-card .latest-blog-info a{
    color: #151875;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-decoration: underline;
}

.latest-blog-card:hover .latest-blog-info h2 , .latest-blog-card:hover .latest-blog-info a {
    color: #FB2E86;
}


/* Responsive Latest Blog Section */

/* Phones */

@media screen and (min-width:320px) and (max-width:600px) {
.latest-blog-cards .latest-blog-card{
    width: 270px;
}

.latest-blog-cards .latest-blog-card .latest-blog-img img{
    width: 270px;
}
}

/* Tablets */

@media screen and (min-width:601px) and (max-width:1024px) {

}

/* Labtops */

@media screen and (min-width:1025px) and (max-width:1440px) {

}


/* Top Categories Section */

.top-categories{
    padding-top: 60px;
}

.top-categories .container .top-categories-header h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 42px;
    line-height: 100%;
    font-weight: 700;
    color: #151875;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-categories-content .top-categories-card .top-categories-img{
    background-color: #F6F7FB;
    border-radius: 50%;
    box-shadow: 0px 8px 40px 0px #31208A0D;
    width: 269px;
    height: 269px;
    margin-bottom: 20px;

}

.top-categories-content .top-categories-card .top-categories-img img{
    width: 178px;
    height: 178px;
}

.top-categories-card .top-categories-info .top-categories-name h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: #151875;
    margin-bottom: 6PX;
}

.top-categories-card .top-categories-info .top-categories-price span{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #151875;
}

.top-categories-content .top-categories-card .top-categories-img .top-categories-btn button{
    background-color: #08D15F;
    padding: 11px 15px;
    border: none;
    border-radius: 5%;
    font-family: "Josefin Sans", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    visibility: hidden;
    transition: 0.1s;
}

.top-categories-content .top-categories-card .top-categories-card-bg-hover{
    background-color: #9877E7;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    left: -5px;
    top: 6px;
    transition: 0.1s;
    visibility: hidden;
    z-index: -10;
}

.top-categories-card:hover .top-categories-img .top-categories-btn button , .top-categories-card:hover .top-categories-card-bg-hover{
    visibility: visible;
}

